body {
  font-family: "Open Sans";
  background-color: #FFFDF4;
  margin: 0px;
}

a {
  text-decoration: none;
}


h1 {
  font-family: "Chelsea Market"
}

h2 {
  margin-bottom: none;
}


h3 {
  text-decoration: underline;
}


h4 {
  text-decoration: none;
}

label {
  display: block;
}

p {
  font-size: 0.8em;
}

ul {
 list-style-type: none;
}


nav a {
  display: inline-block;
  margin: 1em;
  color:  #FFFDF4;
}

.nav {
  border-bottom: 2px solid rgb(0,0,0);padding-bottom:10px;
  background-color:   #af1b3f;
  color: #FFFDF4;
  height: 5em;
}

.nav-img {
  height: 50px;
  width: auto;
  padding: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 10px;
}

.album-display {
  display: flex;
  flex-wrap: wrap;
}

.album-thumbmail {
  width: 80%;
  height: auto;
}

.top-song {
  margin: 10px;
  flex: 0 0 20%;
  justify-content: center;
  text-align: center;
  background-color: #fffdf4;
  padding: 10px;
  border: solid 1px #84848496;
  color: #473144;
}

.top-song a {
  color: #473144;
  margin-top: 1em;
}

.center-text {
  text-align: center;
}
