body {
  font-family: "Open Sans";
  background-color: #FFFDF4;
  margin: 0px;
}

a {
  text-decoration: none;
}


h1 {
  font-family: "Chelsea Market";
  color: white;
  font-size: 6vh;
}

h2 {
  margin-bottom: none;
  color: #011936;
}


h3 {
  text-decoration: underline;
  color: #011936;
}


h4 {
  text-decoration: none;
  color: #011936;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  display: block;
}

p {
  font-size: 1em;
  color:#011936
}

ul {
 list-style-type: none;
}


nav a {
  display: inline-block;
  margin: 1em;
  color:  #FFFDF4;
}

.nav {
  border-bottom: 2px solid rgb(0,0,0);padding-bottom:10px;
  background-color:   #af1b3f;
  color: #FFFDF4;
  height: 5em;
}

.nav-img {
  height: 5vh;
  width: auto;
  padding: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 10px;
}

.album-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album-thumbmail {
  width: 80%;
  height: auto;
}

.top-song {
  margin: 10px;
  flex: 0 0 20%;
  justify-content: center;
  text-align: center;
  background-color: #fffdf4;
  padding: 10px;
  border: solid 1px #84848496;
  color: #473144;
}

.top-song a {
  color: #473144;
  margin-top: 1em;
}

.center-text {
  text-align: center;
}

.chart {
  text-align: center;
  border: solid 1px #84848496;
  font-size: 0.8em;
}

.spotify-logo {
  height: 4em;
}

.login {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.login-link {
  width: 16em;
  height: auto;
  border: solid 2px #84848496;
  display: flex;
  align-items: center;
  background-color: #c4dacf;
  border-radius: 25px;
  font-size: 0.5em;
}

.login a {
  color: #011936;
  size: 0.4em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1a1b41;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a1b41;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.center-container {
  display: flex;
  justify-content: center;
  width: 95vw;
  height: 500px;
}


@media (max-width: 600px) {

  h1 {
    font-family: "Chelsea Market";
    color: white;
    font-size: 3vh;
  }

  h4 {
    font-size: 0.9em;
  }

  .nav {
    border-bottom: 2px solid rgb(0,0,0);
    padding-bottom: 10px;
    background-color: #af1b3f;
    color: #FFFDF4;
    height: 5em;
    font-size: 0.8em;
  }

  .login {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

  .nav a {
    margin: 0.25em;
  }

  .login-link {
    width: 75%;
    height: auto;
    border: solid 2px #84848496;
    display: flex;
    align-items: center;
    background-color: #c4dacf;
    border-radius: 25px;
    font-size: 0.4em;
  }

  .login a {
    color: #011936;
    size: 0.25em;
  }

  .spotify-logo {
    height: 9vh;
  }

  .top-song {
    margin: 10px;
    flex: 0 0 80%;
    justify-content: center;
    text-align: center;
    background-color: #fffdf4;
    padding: 10px;
    border: solid 1px #84848496;
    color: #473144;
  }

  .chart {
    text-align: center;
    border: solid 1px #84848496;
    font-size: 0.65em;
  }

  .graph-title {
    width: 90%;
    font-size: 1.3em;
  }

  .nav-img {
    height: 4vh;
  }
}

